body {
  font-family: 'Architects Daughter', cursive;
}

#main-section {
  font-color: black;
  background-color: #f2ead7
}


#projects .card {
  color: black;
  height: 350px;
  background-color: #cfd8dc;
}

.card:hover {
    opacity: 0.7;
}

.social-media-links {
  color: #F0FFFF;
/*  background-color: grey;
  border-radius: 50%;
  height: 7vh;
  width: 5vw;*/
}

.social-media-links:hover {
  opacity: 0.7;
}

